---
import { SanityClient, SanityImage, SanityBlocks } from '../../lib/sanity';
import PageLayout from '../../templates/PageLayout.astro';
import PageListing from '../../molecules/PageListing.astro';
import ProductListing from '../../molecules/ProductListing.astro';

export async function getStaticPaths() {
  const items = await SanityClient.fetch('*[_type == "product"]').then(
    (res) => res
  );

  return items.map((item) => ({
    params: { slug: item.slug.current },
    props: { item },
  }));
}

const { item } = Astro.props;
const pages = await SanityClient.fetch(
  `*[ _type == "page"][0...4]{_id, title, image, slug}`
).then((res) => res);
const products = await SanityClient.fetch(
  `*[ _type == "product" && _id != "${item._id}" ][0...8]{_id, name, price, image, slug}`
).then((res) => res);
---

<PageLayout title={item.title} slug={item.slug.current}>
  {item.image ? <img src={SanityImage(item.image).width(800).url()} /> : ''}
  <h2>{item.name}</h2>
  <span>Pris: {item.price},-</span>

  <h3>Siste produkter</h3>
  <ProductListing items={products} />

  <h3>Siste artikler</h3>
  <PageListing items={pages} />
</PageLayout>
